.sass-cache
.DS_Store
._.DS_Store

node_modules
npm-debug.log

dest/*
!dest/.gitkeep

tumblr-import

src/posts/*
!src/posts/.gitkeep

partials/*
!partials/all-posts.hbs
!partials/featured-posts.hbs
!partials/footer.hbs
!partials/header.hbs
!partials/post.hbs
!partials/blank-post.hbs

src/pages/*
!src/pages/blog.hbs
!src/pages/sample-page.hbs
!src/pages/sample-page.json

src/images/*
!src/images/sample-image.png
!src/images/logo.png

src/fonts/*
!src/fonts/.gitkeep

src/css/*
!src/css/quest-log.css

src/api/*
!src/api/.gitkeep
